<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="font-family: 'Times New Roman', Times, serif;">
    <div style="border: 1px solid black;border-radius: 5px;padding: 20px;">
        <div>
            <h4>Suvidha Mahila Mandal, Walni</h4>
            <p>Registration No. MH/568/1995</p>
            <p>F No. 12669, Registered under Society Act 1860</p>
        </div>
    
    
        <h1 style="text-align: center;">This is from Suvidha Foundation</h1>
        <pre style="font-size: 20px; font-family: 'Times New Roman', Times, serif;">
    Dear Candidate,
                We are pleased to inform you that you have been selected for the “Web Development with Fundraising” Internship program at Suvidha Foundation (Suvidha Mahila Mandal).
                Congratulations on this significant achievement! Suvidha Foundation, established in 1995, is dedicated to Women's empowerment, Environmental protection, and GirlChild Education.
                Your exceptional qualifications and demonstrated passion for "Web Development" have made you an outstanding candidate for our program, and we firmly believe that your contributions will significantly benefit our team.
        </pre><br>
        <hr>
        <div style="border: 1px solid black;border-radius: 5px;background-color:rgb(213, 181, 228);padding: 20px;text-align: center;align-items: center;">
            <p style="font-size: 12px;text-align: center;">Click the button to get Offer Letter</p><br>
            <a href='http://127.0.0.1:8000/confirmation/'
                style="font-size: 16px; text-align: center; margin-bottom: 20px; padding: 10px 20px; background-color: green;color: white;border-radius: 5px;border: 1px solid yellowgreen;text-decoration: none;">Click
                Here !!!</a>
            <h2 style="text-align: center;background-color:rgb(255, 200, 47);margin-top: 2em;">We heartfully welcome you onboard to our team !!!</h2>
            <h2>All the Best !!</h2>
            <h3>Regards</h3>
            <h3>Suvidha Mahila Mandal</h3>
            <div style="background-color: rgb(168, 197, 216);text-align: left;padding: 5px 5px 5px 10px;inline-size: 1;font-size: 14px;width: fit-content;align-items: center;">
                <h3>Contact: (+91)08010996763</h3>
                <h3><a href="mailto:info@suvidhafoundationedutech.Org" style="color: black;text-decoration: underline;">info@suvidhafoundationedutech.Org</a></h3>
                <h3><a href="http://www.suvidhafoundationedutech.org/" style="color: black;text-decoration: underline;" target="_blank">Suvidha Foundation</a></h3>

            </div>
        </div>
    </div>

</body>

</html>